@import './variable';

/* boutons */
button{
    padding: 10px 15px;
    border: transparent;
    border-radius: 5px;
    margin: 10px 0px;
    &:hover{
        background-color: $couleur_principale;
        color: #F5F5F5;
        transition: 0.1s ease-in;
        cursor: pointer;
        & a{
            color: #F5F5F5;
        }
    }
}

/* boutons header */
header {
    & button{
        background-color: $couleur_principale;
        & a{
            color: #F5F5F5;
            transition: 0.1s ease-in;
            &:hover{
                color: $couleur_principale;
            }
        }
        &:hover{
            background-color: #e0dede;
            cursor: pointer;

        }
    }
}
/* class btnContact */
.btnContact{
    font-size: 11px;
}