
/* 
    code css de la page conatact
*/
#sect_contact{
    padding: 12px;
}
#contact_txt h2{
    margin-top: 20px;
}
#contact_txt p{
    text-align: center;
}
#contact_form{
    margin-top: 20px;
}
#contact_form h3{
    text-align: center;
    margin-bottom: 10px;
}
#contact_form textarea{
    width: 360px;
    margin-top: 15px;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    background-color: #f5f5f5c4;
}
#contact_form p input{
    width: 48px;
}