// importer
@import './variable';
@media screen and (max-width:600px) {
    /* animation et construction du menu hamberger */
    @include menu_hamb;

    /* header responsive */
    header{
        background-color: #f5f5f5;
        padding: 15px 0;
        flex-direction: column;
    }
    h1,h2{
        font-size: 30px;
    }
    .con{
        padding-bottom: 12px;
    }

    /* correspond a la liste de navigation */
    #nav{
        padding-bottom: 12px;
        display: none;
    }

    #btnHead{
        display: none;
    }

    /* footer responsive */
    footer{
        flex-direction: column;
        align-items: center;
    }

    /* fieldset des formulaire */
    fieldset input{
        width: 70%;
    }
    #contact_form textarea{
        width: 70%;
    }
}
/* responsive form */
@media screen and (max-width:700px) {
    fieldset{
        width: 90%;
    }
}
/* responsive page acceuill */
@media screen and (max-width:900px) {
    #section1{
        flex-direction: column;
    }
    #section2{
        flex-direction: column-reverse;
    }
    #section1 img, #section2 img{
        width: -webkit-fill-available;
        height: auto;
        margin-top: 20px;
    }
    
    h2{
        width: -webkit-fill-available;
    }
    .boxRight, .boxText {
        width: -webkit-fill-available;
        display: grid;
    }
    .boxRight p{
        width: -webkit-fill-available;
        margin-bottom: 15px;
    }
    .boxText{
        width: 100%;

    }
    
}
/* responsive expertise */
@media screen and (max-width:1024px) {
    .boxText h2 + p{
        width: -webkit-fill-available;
    }
    /* section fonctionneement d'ovo */
    #sect_fonct{
        flex-direction: column;
    }
    #sect_fonct img{
        width: -webkit-fill-available;

    }
    .expertCard{
        margin-bottom: 20px;
    }
}


